* {
	box-sizing: border-box;
}

body,
html {
	padding: 0;
	margin: 0;
	height: 100vh;
}

.container,
.card {
	height: 100%;
}

.card {
    background: $blue;
    color: #fff;
    height: 100%;
    width: 100%;
    @include flexbox;
    flex-direction: column;
    overflow-y: scroll;
}

.card__subtitle {
	color: $rusty_gold;

	img {
		width: 28px;
	}
}

.card__image-container {
	text-align: center;
	position: relative;
	margin: 0 auto;

	&:before {
		content: "";
	    position: absolute;
	    background-image: url(../svg/rings.svg);
	    background-size: 600px;
	    z-index: 0;
	    background-position: center;
	    background-repeat: no-repeat;
	    width: 600px;
	    height: 331px;
	    left: -86%;
	}
}

.card__img-photo {
	border-radius: 50%;
    max-width: 221px;
    display: block;
    margin: auto;
    margin-top: 54px;
}

.card__content-container {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    position: relative;
    z-index: 1;
}

.card__header {
	text-align: center;
}

.up {
	transform: rotate(180deg);
}

#likes {
	font-size: 24px;
	text-align: left;
}

#like {
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}


.card__footer {
	@include flexbox;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	a {

	    color: #fff;
	    text-decoration: none;
	    border: 1px solid $light_gray;
	    border-radius: 20px;
	    padding: 12px;
	    display: inline-block;
	    margin: 3px;
		opacity: .8;
		&:hover {
			opacity: 1;
		}

		&:nth-of-type(1) {
			flex: 1 0 45%;
		}
		&:nth-of-type(2) {
			flex: 1 0 45%;
		}
		&:nth-of-type(3) {
			flex: 1 0 100%;
		}

	}
}

svg {
	fill: $pizza_sauce;
	margin: 24px 0;
}

.card__content {
	display: none;
	padding: 0 32px;

	p {
		text-align: left;
	}
}
