
  
@font-face {
  font-family: 'Museo-700';
  src: 
    url('../fonts/38FA35_0_0.eot');
  src: 
    url('../fonts/38FA35_0_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/38FA35_0_0.woff2') format('woff2'),
    url('../fonts/38FA35_0_0.woff') format('woff'),
    url('../fonts/38FA35_0_0.ttf') format('truetype');
}
 

* {
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2 {
  font-family: "Museo-700"
}

strong {
  font-weight: 700;
}